<div id="banner">
    <div id="banner-icon" class="banner-flex-item fa fa-camera-retro" aria-hidden="true"></div>
    <span id="banner-text" class="banner-flex-item"> Yummy Desserts Only </span>
</div>