<nav id="nav-bar">
    <div id="brand" class="nav-items">
        <a href="/" id="brand-anchor"><span id="brand-text" style="margin-right: .2rem;">Go Home</span></a>
    </div>
    <div id="search-container">
        <section id="search-bar">
            <input type="text" placeholder="Search.." id="search-text" name="search-text">
            <button type="button" id="search-button">Search<i class="fas fa-search" aria-hidden="true"></i></button>
        </section>
    </div>
    <button><a href="/postimage" id="post-button" class="nav-items anchor-buttons">Post an image</a></button>

    {{#if logged}}
    <button><a id="logout-button" class="nav-items anchor-buttons">Log Out</a></button>
    {{else}}
    <button><a href="/login" id="login-button" class="nav-items anchor-buttons">Log In</a></button>
    {{/if}}

</nav>