<head>
    <link rel="stylesheet" type="text/css" href="/public/css/homepage.css">
</head>
<body>
    <div class="grid-container" id="main-content">
        {{#each results}}
        {{> card this}}
        {{/each}}
    </div>
    {{!-- <header class="site-header">
                <br/>
                <div id="count"></div>
            </ul>
        </nav>
    </header> --}}
</body>
</html>