
<body>
    <header>
        <div>
            <h1>Image Title</h1>
        </div>
    </header>
        <div class="description">Image Description</div>
        <br />
        <div class="dateTime">Date and Time of upload</div>
        <br />
        <div class="picture"><img src="https://fakeimg.pl/300/"></div>
</body>

</html>