
<body>
    <div class="grid-container" id="container"></div>
    <header class="site-header">
                <div class="logo"><a href="#">Desserts Gallery</a></div>
                <br/>
                <div id="count"></div>
            </ul>
        </nav>
    </header>
    <div class="container imagegrid" id="cardcontainer"></div>
      </div>
</body>
</html>