
<body>
    <div class="input">
        <header>
            <h1>
                Account Login
            </h1>
        </header>
        <h2>Please enter your information to log in.</h2>
        <form id="login-form" class= "form-grid-login" method="POST" action="/users/login"
        enctype="application/x-www-form-urlencoded">
            <label for="username">Username:</label>
            <input id="username" type="text" 
            placeholder="username" required name="username">
            <br />
            <label for="password" class="txt-label">Password:</label>
            <input id="password" type="password" placeholder="password" required name="password">
            <br/><br/>
            <button type="submit">submit</button>
            <button type="reset">clear</button>  
            <br/><a href="./registration" class="link">Register Here</a>
        </form>
    </div>

</body>
</html>