<body>
    <div>
        <header>
            <h1>Register</h1>
        </header>
        <form method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">
            <fieldset>
                
            <label for="username">Username:</label>
            <input id ="username" type="text" placeholder="Username" required name="username">
            <br/>
            <div class="check">Username must start with <span id="user-req1" class="req">a character
                ([a-zA-Z]).</span></div>
            <div class="check">Username must be <span id="user-req2" class="req">3 or more alphanumeric
                    characters.</span></div>
            <br/>

            <label for="email">Email:</label>
            <input id ="email" type="email" placeholder="Email" required name="email">
            <br/>
            <div class="check">Email must be <span id="email-req" class="req">valid.</span></div>
            <br/>
            <label for="password">Password:</label>
            <input id="password" type="password" placeholder="Password" required name="password">
            <br/>
            <div class="check">Password must be <span id="pass-req1" class="req">8 or more characters.</span>
            </div>
            <div class="check">Password must contain <span id="pass-req2" class="req">at least 1 upper case
                letter and 1 number and 1 of the following special characters ( / * - + ! @ # $ ^ & * ).</span>
            </div>
            <br/>
            <label for="confirm">Confirm Password:</label>
            <input id="cpassword" type="password" placeholder="Confirm your password" required name="cpassword">
            <br/>
            <div class="check">Passwords must <span id="confirm-pass-req" class="req">match.</span></div>
            <br/>
            <input type="checkbox" required>Please confirm that you are over 13 years of age.
            <br/>
            <input type="checkbox" required>I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Rules.</a>
            <br/>
            <button type="submit" id="register-button">Submit</button>
        </fieldset>
        </form>
    </div>
</body>
</html>