body{
    background-color: #f8c6ca;
    text-align:center;
}
h1{
    margin: 10px;
    font-size:44px;
    font-family:'Arial';
    color: #630030;
    opacity: 80%;

}

h2{
    font-size: 12px;
    font-family: Arial;
    color:rgba(31, 28, 28, 0.8);
    text-align:center;
}
form {
    font-family: 'Arial';
    color:rgb(116, 109, 110);
    font-size: 14px;
    border:5px double rgb(255, 252, 252);
    border-radius: 10px;
    opacity: 100%;
    background: rgba(255, 235, 232, 0.5);
    display: inline-block;
    padding: 12px;

}

.dateTime{
    font-size: 20px;
    font-family:'arial';
    color: #630030;

}
#username{
    padding: 2px;
    margin: 0px 0px 2px 89px;
}
#email{
    margin: 0px 0px 2px 122px;
}
#password{
    padding: 2px;
    margin: 0px 0px 2px 93px;
}

/* #post-title{
    margin: 0px 0px 2px 0px;
} */

#post-description{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    color:#630030;
    font-size: 16px;

}

.check{
    color: rgb(100, 100, 100);
    font-size: 12px;
}

#post-button{
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#630030;
    margin: 2px;
    padding: 2px;
}


#brand-anchor{
    text-decoration: none;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 2px;
    padding: 2px;
}

#brand-text{
    font-size: 24px;
    padding: 1px;
}

#logout-button{
    text-decoration: none;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 2px;
    padding: 2px;
}

#login-button{
    text-decoration: none;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 2px;
    padding: 2px;
}

#search-text{
    width: 55vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


p.card-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #630030;
    font-size: 16px ;
}

p.card-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #630030;
    font-size: 24px;
}
            

#flash-message{
    position:absolute;
    left: 50%;
    top: 17%;
    transform: translate(-50%,0);
    z-index: 9999;

}

#flash-message  div{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
    color: #630030;

}

.logo{
    font-family: Arial;
    font-size:48px;
    text-align: center;
}

#footer{
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px;
    color:#630030;
}

#header{
    text-align: center;
    font-size: 20px;
    font-variant: small-caps;
}

#banner{
    background-image:url('banner.png');
    text-align:center;
    width: auto;
    background-repeat:no-repeat;
    background-position: center;
    height: 209px;

}

.nav-items{
    text-decoration: none;
    color:#630030;
}

#brand-text{
    text-decoration: none;
    color:#630030;
}

button{
    margin: 4px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#search-button{
    width:10%;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    color:#630030;
}

.card{
    padding: 2rem;
    border: 6px double #ffffff;
}

.anchor-buttons{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

div[id=post-info] > p {
    margin-bottom: 0.2em;
}

div[post-container] > div[id^=post-]{
    flex-grow:1;
    flex-shrink:1;
}

div[post-container] > imd[id^=post-]{
    flex-grow: 1;
    flex-shrink: 1;
}
#comment-container{
    display:grid;
    justify-self: stretch;
    grid-area: comments;
    grid-template-rows: auto 80px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "messages"
    "comment-box";
    max-height: 80vh;
}

#messages{
    grid-area: messages;
    overflow-y: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
    scroll-behavior: smooth;
    border-radius: .25rem;
    justify-self: left;
    align-items: center;
    border: 0.5px solid rgb(255, 255, 255);
    box-shadow: -1px 1px 2px 2px rgb(179, 178, 178);
    width: 100%;
    grid-template-areas:
    "author created"
    "comment comment";
}

div[id^=message-]{
    width: 98%;
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: .2em;
    padding: .25rem;
    margin: .2rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #630030;
    border: 1px solid #e0e0e0;
    grid-template-areas: 
    "author created"
    "comment comment";
}

#comment-box{
    grid-area: comment-box;
    display: flex;
    padding: .2rem;
    border-radius: 0.35rem;
}

#comment-box-button{
    padding: 0.25rem;
    margin: 0.25rem;
    line-height: 2;
    color: #630030;
    font-size: 1.5rem;
    width: 15%;
    height: 90%;
    border-radius: 0.35rem;
    cursor: pointer;
}

#posted-user{
    font-size: 14px;
    font-family:Arial;
    margin: 0px;
    padding: 2px;
    color:#630030;
}

#posted-time{
    font-size: 14px;
    font-family:Arial;
    margin: 0px;
    padding: 2px;
    color:#630030;
}

.image-title{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    align-items: left;
    padding: 10px;
    color:#630030;
}

#post-image{
    max-width: 25vw;
    max-height: 80vh;
    grid-area: photoinfo;
    align-self:center;
    border: 5px double #ffffff;
}
.author-text{
    grid-area: author;
    justify-self:start;
    color: #630030;
}

.comment-text{
    grid-area: comment;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-height: 50px;
    min-height: 50px;
    justify-self: start;
    font-size: 12px;

} 

.date-posted{
    grid-area: created;
    justify-self: end;

}

#comment-box-text{
    /* height:auto;
    width: 1400px;
    flex-grow: 8;
    padding: 0.25rem;
    margin: 0.25rem;
    border: 0.05rem solid #630030;
    border-radius: 0.35rem;
    font-family:Arial, Helvetica, sans-serif;
    color: #630030;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:left; */
    width: 85%;
    border: 0.05rem #ffffff;

}

#post-container{
    grid-area: content;
    padding-top: .35em;
    justify-self: center;
    padding-bottom: .35em;
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "photoinfo comments"

}

#photo-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: photoinfo;
}

#post-info{
    display: inline-block;
    vertical-align: middle;
}
